<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.example.org/acedsl"
			class = "org.xtext.ace.acedsl.acedsl.AcedslPackage"
			genModel = "model/generated/AceDsl.genmodel" />
	</extension>
</plugin>
